################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/WindowsExplorer/v16
/WindowsExplorer/obj/Debug
/Test/obj/Debug
/Test/bin/Debug
/WindowsExplorer/bin/Debug
